.Button {
  text-decoration: none;
  color: var(--white, #fff);
  font-family: Space Grotesk;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 162.5% */
  letter-spacing: 0.14288rem;
  margin: 0;
  padding-bottom: 8px;
  border-bottom: 2px solid #4ee1a0;
}
.Button:hover{
  cursor: pointer;
  color: #4ee1a0;
}