.Footer {
  background-color: var(--dark-grey, #242424);
  margin-top: 2rem;
  padding: 3.75rem 1rem;
}

.footerHeader {
  color: var(--white, #fff);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 100% */
  letter-spacing: -1.136px;
}

.footerDescription {
  color: var(--grey, #d9d9d9);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem; /* 162.5% */
}
